<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body>
    <div>
        <% if (messages.success) { %>
            <p class="bg-purple-100 m-3 list-none rounded-md px-4 py-2"><%= messages.success %></p>
        <% } %>
    </div>
    <a class="text-sm text-purple-600 hover:text-purple-400 p-3" href="/password-reset" >Forgot password?</a>
    <a class="text-sm text-purple-600 hover:text-purple-400 p-3" href="/signout">Sign out</a>
</body>
</html>