<div>  
    <p class="text-purple-600"><%= (elections.length==0)?"No elections":"" %></p>
    <ul class="list-none">
        <% for (let i=0; i<elections.length; i++) { %>
            <li>
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                    <h2  class="m-2 text-sm text-purple-600 "><%= elections[i].electionName %></h2>
                </div>
            </li>
        <% } %>
    </ul>
</div>