<nav class="border-gray-200 py-4 bg-gray-900 w-full px-6">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <span
        class="self-center text-xl font-semibold whitespace-nowrap text-white"
        >E-Vote</span
      >
    </a>
    <div class="w-auto">
      <ul class="flex">
        <li>
          <a
            href="/password-reset"
            class="block px-4 text-gray-500 hover:text-white transition-all ease-linear"
            >Reset password</a
          >
        </li>
        <li>
          <a
            href="/signout"
            class="block px-4 text-gray-500 hover:text-white transition-all ease-linear"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
