<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="py-1">Welcome to Online Voting Platform</p>
            <p class="py-1">New here? <a class="text-purple-600" href="/signup">Sign-up</a></p>
            <p class="py-1">Already have an account? <a class="text-purple-600" href="/login">Sign-in</a></p>
        </div>
    </div>
</body>
</html>