<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function updateURL() {
            let url = document.getElementById("urlString").value;
            document.getElementById("urlHint").innerHTML = "https://e-vote.onrender.com/e/"+url;
        }
    </script>
    <title><%= title %></title>
</head>
<body class="bg-gray-900">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 text-white">
        <span>></span>
        <a href="/elections" class="text-gray-400 hover:text-white transition-all">All Elections</a>
        <span>></span>
    </div>
    <div class=" flex text-gray-800 antialiased flex-col overflow-hidden  py-6 sm:py-12">
        <div class=" py-3 sm:w-96 mx-auto text-center text-white">
            <span class="text-2xl font-light ">Create a new election</span>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-gray-600 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="mt-4 bg-gray-700 border border-white shadow-md rounded-lg text-left">
                <div class="h-2 bg-white rounded-t-md"></div>
                <form action="/elections" method="post" class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="electionName" class="block mt-3 font-semibold">What is your election's name?</label>
                    <input id="electionName" name="electionName" type="text" placeholder="Election name" class="text-black border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-200 focus:ring-1 rounded-md" required>
                    <label for="urlString" class="block mt-3 font-semibold">Enter a custom URL string (With no spaces)</label>
                    <input oninput="updateURL()" id="urlString" name="urlString" type="text" placeholder="Election URL String" class="text-black border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-200 focus:ring-1 rounded-md" required>
                    <p id="urlHint" class="text-white mt-1">https://e-vote.onrender.com/e/(URL string)</p>
                    <button type="submit" class="mt-6 w-full bg-gray-500 border border-white text-white py-2 px-6 rounded-md hover:bg-white hover:text-gray-900 transition-all ease-linear">Create election</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>